<mat-card class="childcontainer">
    <h2 class="header">Fill New Employee Form</h2>
  
    <div *ngIf="statusCode === 200" [ngClass]="'success'">
      Created successfully.
    </div>
    <div *ngIf="statusCode === 401" [ngClass]="'error'">
      Your Organisation is not active.Please check with your Organisation.
    </div>
  
    <!--  <div *ngIf="statusCode === 204" [ngClass] = "'success'">
          Cubicle deleted successfully.
     </div>  -->
    <div *ngIf="statusCode === 404" [ngClass]="'error'">
      Internal Server Error.
    </div>
    <div *ngIf="statusCode === 0" [ngClass]="'error'">
      Internal Server Error.
    </div>
  
  
  
  
  
    <div>
      <form [formGroup]="empForm" (ngSubmit)="onEmpFormSubmit()">
        <table class="emptable">
  
  
  
          <tr>
            <td>
              <mat-form-field class="empForm-full-width">
                <input required [(ngModel)]="nominations.nominationId" matInput formControlName="nominationId" placeholder="Nominations Id">
  
  
              </mat-form-field>
            </td>
          </tr>
  
          <tr>
            <td>
              <mat-form-field class="empForm-full-width">
                <input required [(ngModel)]="nominations.nominationDescription" matInput formControlName="nominationDescription" placeholder="Nomination Descriptions ">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="empForm-full-width">
                <input required [(ngModel)]="nominations.nominationType" matInput formControlName="nominationType" placeholder="Nomination Type">
              </mat-form-field>
              
            </td>
          </tr>
  
          
  
          <tr>
            <td>
              <mat-form-field class="empForm-full-width">
                <input required [(ngModel)]="nominations.nominationValue" matInput formControlName="nominationValue" placeholder="Nomination value">
  
              </mat-form-field>
            </td>
          </tr>
  
          <tr>
            <td>
              <mat-form-field class="empForm-full-width">
                <input required [(ngModel)]="nominations.nominationEndDate" matInput formControlName="nominationEndDate" placeholder="Nomination End Date">
  
              </mat-form-field>
            </td>
          </tr>
  
  
  
          <div>
            <button class="savebutton" [disabled]="!empForm.valid" mat-raised-button>Save</button>
  
            <button class="savebutton" mat-raised-button type="reset">Reset</button>
  
            <button class="cancelbutton" mat-raised-button (click)="cancel()">Cancel</button>
          </div>
  
        </table>
      </form>
      <br/>
  
  
    </div>
  </mat-card>