<!-- 
  <!DOCTYPE html>
  
  <html lang="en">
        <body>
                
                <mat-tab-group>
                        
                        <mat-tab > <img src="assets/img/attra.png"  style class="img">
                        </mat-tab>
                        
                      </mat-tab-group>
                      <mat-tab-group>
                          <
                            <mat-tab style class ="mattabsa" label="RRP" >
                              
                            </mat-tab>
                       
                          </mat-tab-group>
                                      
    
      
                          <img src="assets/img/circular.png" style class="image">
                          <div style class="square3"><label style="font-size:20px;">HR ORGANIZATION</label><a [routerLink]="['/home']"><mat-icon>arrow_forward</mat-icon>Go To The HR Peer</a></div><div style class="square2"><label style="font-size:20px;">BU ORGANIZATION</label><a href="Go To the BU Peer" target="_blank"><mat-icon>arrow_forward</mat-icon>Go To The BU Peer</a></div>
                          
                          <router-outlet></router-outlet>           

      
      
  
  </body>
  </html>

  
 -->

<div >
 <router-outlet></router-outlet> 

</div>