

<mat-card  class="container"> 
    <div >
    <h2 class="header"> </h2>
    

      <ul>
          <li><a routerLink="login" routerLinkActive="active">Login</a></li>
          <li><a routerLink="employee" routerLinkActive="active">Employee</a></li>
          <li><a routerLink="nominations" routerLinkActive="active">Nominations</a></li>
          <li><a routerLink="program" routerLinkActive="active">Program</a></li>
        </ul>
<div> <router-outlet></router-outlet> </div>

      <!-- <span><a routerLink="employee" routerLinkActive="active">
        <button class="buttonStyle" mat-raised-button > <mat-icon>add</mat-icon>Employee </button> 
       <mat-tab-group>
      <mat-tab label="Employee" >
       </mat-tab>
      </mat-tab-group>
       

      </a> </span>
      <span>
    <a routerLink="nominations" routerLinkActive="active">
      <button class="buttonStyle" mat-raised-button > <mat-icon>add</mat-icon>Nominations</button> 
       <mat-tab-group>
          <mat-tab label="Nominations" >
           </mat-tab>
          </mat-tab-group>
           
      </a>
      </span>
      <span>
      <a routerLink="program" routerLinkActive="active">
        <button class="buttonStyle" mat-raised-button > <mat-icon>add</mat-icon>Program</button>
       </a>
       </span> -->
      
     
     
    </div>
  </mat-card>