

<mat-card  class="childcontainer"> 
  <div class="pageheight">
  <h2 class="header"> </h2>
  
  
    <span><a routerLink="createemployee" routerLinkActive="active">
     <button class="buttonStyle" mat-raised-button > <mat-icon>add</mat-icon>Create Employee </button>
    </a> </span>
    <span>
  <a routerLink="searchemployee" routerLinkActive="active">
     <button class="buttonStyle" mat-raised-button > <mat-icon>search</mat-icon>Search Employee </button>
    </a>
    </span>
    <router-outlet></router-outlet>
   
  </div>
</mat-card>